<div>
  
    <ng-template app-component-loader></ng-template>
</div>

<!--<div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px" fxFlexFill style="padding: 20px;">

<div fxLayout="column" style="background-color: white; padding: 10px;" fxLayoutAlign="space-between stretch" fxLayoutGap="5px"
    fxFlexFill>-->
<!--<mat-toolbar>
    <h3 style="margin-left: 16px;" class="mat-heading"> Document List </h3>
    <span class="spacer"></span>
    <button style="margin-right: 16px;" (click)="addNewDocument()" mat-raised-button color="primary">Add New</button>
</mat-toolbar>-->
<!--<div class="table-container">
</div>-->
<!--<mat-paginator [length]="pageLength" [pageSize]="pageSize" [pageSizeOptions]="[1, 5, 10, 25, 100, 150, 200]" (page)="next($event)">
</mat-paginator>-->
<!--</div>
</div>-->
