<div fxLayout="column" style="background-color: white; padding: 10px;" fxLayoutAlign="space-between stretch" fxLayoutGap="5px"
      [fxFlex]="30">

  <div fxflexfill>

        <div class="mat-elevation-z4">
          <mat-toolbar>
            <h5 class="mat-title">Search</h5>
          </mat-toolbar>
          <div dnd-sortable-container>
            <div *ngFor="let components of componentsData">
              <app-search-document [components]="components"></app-search-document>
            </div>
          </div>
        </div> 
  </div>
</div>
