<!-- <div *ngFor="let components of componentsData">
  <app-document-manager [components]="components"></app-document-manager>
</div> -->
<div [fxLayout]="row">
  <div *ngFor="let components of componentsData">
    <app-document-manager [components]="components"></app-document-manager>
  </div>
</div>  
<!-- <div [fxLayout]="row">
  <div [fxFlex]="30">
    <app-document-manager [components]="componentsData[0]"></app-document-manager>
  </div>
  <div [fxFlex]="70">
    <app-document-manager [components]="componentsData[1]"></app-document-manager>
  </div>
</div> -->
  <!-- </div> -->



